body {
    font: 44px Helvetica-Light, Arial, Verdana, sans-serif;
    background-color: white;
    color: black;
    -webkit-font-smoothing: antialiased;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}


#titulo {
    background-color: #F04C41;
    color: white;
}

p {
    text-transform: lowercase;
}

p:first-letter {
    text-transform: uppercase;
}

#rodape {
    position:absolute;
    bottom:5%;
    width:102%;
}
